<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .center_div {
            margin-top: 10px;
            background-color: #eee;
        }
        .captcha_system {
            padding: 50px 50px 50px 50px;
        }
        .captcha .captcha_btn{
            margin: 10px;
        }
        .captcha label {
            display: None;
        }
    </style>
</head>

<body>
<div class="container center_div">
    <div class="captcha_system">
        <h3>Prevent DOS</h3>
        <form action='.' method='POST' class="form-horizontal captcha">
            <div class="control-group">
                {% csrf_token %}
                {{form}}
                <input type="submit"  class="btn btn-default captcha_btn"/>
                <button class='js-captcha-refresh' hidden></button>
            </div>
        </form>
    </div>
</div>
</body>


<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</footer>
</html>