<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
    </style>
</head>
<body>
<div class="container">
    <h2>Banned IPs</h2>
    <!--<p>The .table-striped class adds zebra-stripes to a table:</p>            -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>IP</th>
            <th>Banned at</th>
            <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for ip in ips %}
        <tr>
            <td>{{ip.ip}}</td>
            <td>{{ip.added_at}}</td>
            <td><a href="/ips/release/{{ip.ip}}/" class="release">Release</a> | <a class="ban" href="/ips/ban/{{ip.ip}}/">Ban permanently</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>

<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</footer>
</html>